@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Please sign in to get started.</h1>
    <p class="text-center">MorgenBuffet by Sebastian. Never have systems for breakfast been this smart</p>
</div>
