@{

}
<h1>Reception</h1>
<div>
    <form id="sendFromReception">
        <ul>
            <li>
                <label>Room number:</label>
                <input id="roomNr" />
            </li>
            <li>
                <label> Number of Adults:</label>
                <input id="adultNr" />
            </li>
            <li>
                <label>Number of Children:</label>
                <input id="childrenNr" />
            </li>
        </ul>
        <div class="text-center">
            <button> Check guests in!</button>
        </div>
    </form>
</div>
