@model o
@{
    ViewData["Title"] = "Restaurant";
}
<h1>Reception</h1>
<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="orderDTO.RoomNumber" for="orderDTO.RoomNumber">Room number:</label>
        <input type="number" name="RoomNumber" class="form-control" id="roomNr" />
        <div />

        <div class="form-group"></div>
        <label asp-for="orderDTO.Adults" for="orderDTO.Adults"> Number of Adults:</label>
        <input asp-for="orderDTO.Adults" class="form-control" />
    </div>

    <div class="form-check group">
        <label asp-for="orderDTO.Kids">Number of Children:</label>
        <input asp-for="orderDTO.Kids" class="form-control" />
    </div>

    <div class="form-group">
        <button type="submit">Check In!</button>
    </div>
</form>